.footerContact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 122px 0 38px;
  position: relative;
  gap: 0;
  overflow: hidden;
}

.leftSide {
  background-color: #000;
  color: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 491px;
  height: 647px;
  position: relative;
  z-index: 2;
}

.rightSide {
  background-color: #fff;
  border-radius: 8px;
  padding: 60px 50px 40px 520px;
  width: 100%;
  height: 667px;
  position: relative;
  margin-left: -380px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.leftSide h2 {
  font-size: 28px;
  margin-bottom: 6px;
}

.leftSide p {
  color: #C9C9C9;
  font-size: 18px;
  margin-bottom: 100px;
}

.contactList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contactList li {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
}

.icon {
  margin-right: 27px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

.leftSide::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255,255,255,0.05);
  border-radius: 50%;
  bottom: -140px;
  right: -140px;
}

.leftSide::after {
  content: '';
  position: absolute;
  width: 138px;
  height: 138px;
  background-color: rgba(255,255,255,0.05);
  border-radius: 50%;
  bottom: 38px;
  right: 38px;
}

.socialIcons {
  position: absolute;
  left: 32px;
  bottom: 32px;
  display: flex;
  gap: 24px;
}

.socialIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #1B1B1B;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
}

.socialIcon img {
  width: 15px;
  height: 15px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

.socialIcon:hover {
  background-color: #fff;
  color: #1B1B1B;
}

.socialIcon:hover img {
  filter: none;
}

.form {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
}

.inputGroup {
  display: flex;
  gap: 39px;
  width: 100%;
}

.inputWrapper {
  position: relative;
  margin-bottom: 65px;
  width: 100%;
}

.form label {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 16px;
  color: #8D8D8D;
  transition: color 0.3s ease;
}

.inputWrapper input:focus + label,
.inputWrapper textarea:focus + label,
.inputWrapper input:not(:placeholder-shown) + label,
.inputWrapper textarea:not(:placeholder-shown) + label,
.inputWrapper input:focus,
.inputWrapper textarea:focus {
  color: #000;
}

.form input,
.form textarea {
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font: inherit;
  background: transparent;
  color: #8D8D8D;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-bottom-color: #000;
}

.inputWrapper:focus-within label {
  color: #000 !important;
}

.radioGroup {
  display: flex;
}

.radioGroup label {
  flex: 1;
  display: flex ;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  position: relative !important;
  top: 20px;
  cursor: pointer;
}

.radioGroup label input {
  width: 10%;
  cursor: pointer;
}

.form button {
  align-self: flex-end;
  padding: 12px 24px;
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 214px;
  margin-top: -20px;
}

.form button:hover {
  background: #333;
}

.error {
  position: absolute;
  bottom: -19px;
  left: 0;
  color: red;
  font-size: 8px;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #333 !important;
}

.decorationImage {
  position: absolute;
  bottom: -40px;
  right: 140px;
}

@media (max-width: 1243px) {
  .rightSide {
    padding-left: 450px;
  }
}


@media (max-width: 1226) {
  .footerContact {
    padding-right: 60px;
  }

  .radioGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-items: start;
    align-items: center;
  }

  .radioGroup label {
    position: static !important;
    top: auto !important;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
  }

  .decorationImage {
    display: none;
  }
}

@media (max-width: 890px) {
  .footerContact {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    gap: 20px;
  }

  .leftSide {
    width: 98%;
    margin-left: 0;
    height: auto;
  }

  .rightSide {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .leftSide {
    margin-bottom: -459px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rightSide {
    padding: 500px 20px 0 20px;
  }

  .decorationImage {
    display: block;
    position: relative;
    width: 140px;
    bottom: 15px;
    right: 103px;
  }

  .contactList li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
  }

  .contactList li span {
    text-align: center;
  }

  .icon {
    margin-right: 0;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .leftSide p {
    color: #C9C9C9;
    font-size: 11px;
    margin-bottom: 12px;
  }
  
  .leftSide h2 {
    font-size: 20px;
  }

  .link {
    text-align: center;
  }
  
  .socialIcons {
    position: static;
    display: flex;
    gap: 24px;
    margin-top: 43px;
  }

  .leftSide::before {
    right: -180px;
  }
  
  .leftSide::after {
    width: 75px;
    height: 75px;
    bottom: 50px;
    right: 60px;
  }

  .inputGroup {
    flex-direction: column;
    gap: 20px;
  }

  .form label {
    font-size: 12px;
  }
}
