.middleSection {
    text-align: center;
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: -1px; 
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
  
  .subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    color: #717171;
  }

  @media (max-width: 870px) {
    .title {
      font-size: 24;
      margin-top: 14px;
      margin-bottom: 175px;
    }

    .middleSection p {
      display: none;
    }
  }
  